@model QLSV.Models.Lop

@{
    ViewData["Title"] = "Create";
}
<div class="flex-container">
    <form class="w3-container w3-card-4 w3-light-gray w3-margin  " style="width:50%;" asp-action="Create">
<h1>Thêm mới thông tin lớp </h1>

<div class="mb-3">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Malop" class="control-label"></label>
                <input asp-for="Malop" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="Malop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenlop" class="control-label"></label>
                <input asp-for="Tenlop" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="Tenlop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Makhoa" class="control-label"></label>
                <select asp-for="Makhoa" class ="w3-input w3-border w3-border-blue w3-round" asp-items="ViewBag.Makhoa"></select>
            </div>
            <div class="w3-margin-top">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-success"asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


</form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
