@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center " >
<form class="w3-container w3-card-4 btn w3-light w3-border w3-round w3-text-white " style="background-color: #2196F3;width:90%;">
<h2 class="display-4">Wellcome</h2>
<h2 class="display-4">Project - Quản Lý Sinh Viên</h2>
</form>
</div>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
