<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLSV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLSV.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/w3.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/my style.css" asp-append-version="true" />
 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3   " style="background-color: #2196F3;">
            <div class="container-fluid">
                <a class="navbar-brand text-light " asp-area="" asp-controller="Home" asp-action="Index">QLSV</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link text-light icon-bar fa fa-university " asp-area="" asp-controller="Khoa" asp-action="Index">Khoa</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light icon-bar fa fa-users" asp-area="" asp-controller="Lop" asp-action="Index">Lớp</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light icon-bar fa fa-graduation-cap" asp-area="" asp-controller="SinhVien" asp-action="Index">Sinh Viên</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light icon-bar fa fa-folder-open" asp-area="" asp-controller="Quanlymonhoc" asp-action="Index">Quản lý môn học</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-light icon-bar fa fa-folder-open" asp-area="" asp-controller="Quanlydiem" asp-action="Index">Quản lý điểm </a>
                        </li>

                         
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - QLSV - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
