@model QLSV.Models.SinhVien

@{
    ViewData["Title"] = "Edit";
}
<div class="flex-container">
    <form class="w3-container  w3-light-grey "  style="width:50%;" asp-action="Edit">
<h1>Cập nhật thông tin </h1>


<div class="mb-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSV" />
            <div class="form-group">
                <label asp-for="Hovaten" class="control-label"></label>
                <input asp-for="Hovaten" class="form-control" />
                <span asp-validation-for="Hovaten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malop" class="control-label"></label>
                <select asp-for="Malop" class="form-control" asp-items="ViewBag.Malop"></select>
                <span asp-validation-for="Malop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Makhoa" class="control-label"></label>
                <select asp-for="Makhoa" class="form-control" asp-items="ViewBag.Makhoa"></select>
                <span asp-validation-for="Makhoa" class="text-danger"></span>
            </div>
            <div class="w3-margin-top">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
