@model QLSV.Models.Khoa

@{
    ViewData["Title"] = "Create";
}
    <h1>Thêm mới thông tin khoa</h1>
    <hr />
    <form asp-action="Upload" enctype="multipart/form-data">
        <div class="row form-control">
            <label class="col-sm-2">Import data from Excel:</label>
            <input type="file" name="file" class="col-sm-4">
            <input type="submit" value="Upload" class="btn btn-primary">
        </div>
    </form>
<hr>
<div class="mb-3">
    <div class="col-md-4">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Makhoa" class="control-label"></label>
                <input asp-for="Makhoa" placeholder="Mã Khoa" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="Makhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenkhoa" class="control-label"></label>
                <input asp-for="Tenkhoa" placeholder="Tên Khoa" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="Tenkhoa" class="text-danger"></span>
            </div>
            
            <div class="w3-margin-top">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>

        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
