@model QLSV.Models.Khoa

@{
    ViewData["Title"] = "Edit";
}
<div class="flex-container">
<form class="w3-container w3-card-4 w3-light-grey "  style="width:60%;"  asp-action="Edit">
<h1>Cập nhật thông tin </h1>

<div class="mb-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Makhoa" />
            <div class="form-group">
                <label asp-for="Tenkhoa" class="control-label"></label>
                <input asp-for="Tenkhoa" class="form-control" />
                <span asp-validation-for="Tenkhoa" class="text-danger"></span>
            </div>

            <div class="w3-margin-top">
                <input type="submit" value="Lưu thông tin " class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>
        </form>
     </div>
</div>

</form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
